 p {
     /*element selector*/
     background-color: rgb(255, 72, 0);
     color: rgb(0, 255, 132);
     font-size: 30px;
 }

 #i1 {
     /*id selector*/
     background-color: bisque;
 }

 .c1 {
     /*class selector*/
     background-color: blueviolet;
 }

 h3,
 h4 {
     /*group selector*/
     background-color: brown;
     color: azure;
 }

 * {
     /*universal selector*/
     background-color: aquamarine;
 }